html{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 97);
    background-color: rgba(250, 128, 114, 0.413);
    text-align: justify;
    line-height: 1.5;
    margin: 40px;
    margin-top: 20px;
}
#logo{
    width: 400px;
}
.enlaces{
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border: solid 2px;
    border-radius: 60px 10px 60px 10px;
    box-shadow: 20px 5px 5px black;
}
a:hover {
    background-color: gold;
}
h1{
    color: black;
    text-align: center;
    font-style: italic;
}
.imagen{
    float: right;
    margin-left: 20px;
    padding: 10px;
    width: 450px;
}
.video{
    float: left;
    margin-top: 0px;
    padding: 10px;
}
.sub{
    text-decoration: underline;
}